@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-button-bg-primary: theme('colors.blue.600');
  --color-button-bg-primary-hover: theme('colors.blue.500');
  --color-button-bg-secondary: theme('colors.green.600');
  --color-button-bg-secondary-hover: theme('colors.green.700');
  --color-button-bg-disabled: theme('colors.gray.500');
  --color-bg-primary: theme('colors.gray.100');
  --color-bg-secondary: theme('colors.gray.800');
  --color-content-bg-primary: theme('colors.white');
  --color-text-primary: theme('colors.gray.700');
  --color-text-secondary: theme('colors.white');
  --color-link: theme('colors.blue.600');
  --color-link-hover: theme('colors.blue.400');
}
